//Шрифты

.font-bold() {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: bold;
}
.font-type(@size: 15px, @line-height: 24px, @color: #444444) {
  font-size: @size;
  line-height: @line-height;
  color: @color;
}
