.contacts {
  padding-top: 61px;
}
.contacts__headline {
  margin: 0;
  margin-bottom: 26px;
  .font-bold();
  .font-type(18px, 30px, @text-color-main);
}
.contacts__item {
  .font-type(15px, 30px, @text-color-second);
  list-style: none;
}
.contacts__e-mail {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}
.contacts__icon-flag {
  display: none;
}
.contacts__e-mail a {
  display: block;
  text-decoration: none;
  .font-type(15px, 30px, @text-color-second);
  list-style: none;
  border-bottom: 1px solid #62d1ba;
  &:hover {
    color: #46c1ae;
    border-bottom-color: #46c1ae;
  }
  &:active {
    opacity: 0.3;
  }
}
.contacts__adress {
  display: flex;
  margin: 0;
  padding: 0;
}
.contacts__adress .contacts__item:last-child {
  width: 145px;
  margin-left: 31px;
}
@media @tablet-widths {
  .contacts {
    position: relative;
    padding-top: 92px;
  }
  .contacts__wrapper {
    display: flex;
    margin-bottom: 57px;
  }
  .contacts__e-mail {
    width: 280px;
    margin-right: 50px;
  }
  .contacts__e-mail a {
    font-size: 17px;
  }
  .contacts__icon-flag {
    position: absolute;
    top: 75px;
    right: 3px;
    display: block;
  }
  .contacts__adress .contacts__item:last-child {
    width: 228px;
    margin-left: 28px;
  }
  .contacts__headline {
    margin-bottom: 47px;
    .font-type(43px, 50px, @text-color-main);
  }
  .contacts__item {
    font-size: 17px;
  }
  .contacts__adress .contacts__item:last-child {
    width: 228px;
  }
}
@media @desktop-widths {
  .contacts {
    padding-top: 140px;
  }
  .contacts__wrapper {
    flex-direction: column;
    margin-left: 175px;
    padding-top: 0;
    padding-bottom: 21px;
  }
  .contacts__headline {
    margin-left: 169px;
    .font-type(53px, 57px, @text-color-main);
  }
  .contacts__icon-flag {
    left: 63px;
    top: 130px;
  }
  .contacts__adress .contacts__item:last-child {
    margin-left: 24px;
  }
}
