.develop-block {
  background-color: @bg-color-footer;
}
.develop-block__develop-wrapper {
  display: flex;
  width: 190px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding-top: 23px;
  padding-bottom: 23px;

}
.develop-block__headline {
  .font-bold();
  .font-type(19px, 18px, @text-color-main);
}
.develop-block_logo-link {
  display: block;
  width: 27px;
  height: 35px;
  background: url("../../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  background-position:  50% 50%;
}
