.develop-block {
  background-color: @bg-color-footer;
}
.develop-block__headline {
  .font-bold();
  .font-type(19px, 18px, @text-color-main);
}
.develop-block_logo-link {
  display: block;
  width: 27px;
  height: 35px;
  background: url("../../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  background-position:  50% 50%;
}
