.good-card__foto {
  display: block;
  width: 260px;
  height: 195px;
  background-color: #e8e8ea;
}
.good-card__name {
  .font-bold();
  .font-type(17px, 24px, @text-color-main);
  text-decoration: none;
}
.good-card__descr {
  .font-type(13px, 30px, @text-color-second);
}
.good-card__price-block {
  display: flex;
}
.good-card__price {
  .font-bold();
  .font-type(15px, 24px, @text-color-main);
}
.good-card__basket {
  display: block;
  width: 21px;
  height: 19px;
  background: url(../img/icon-cart.svg);
}
@media @tablet-widths {

  .good-card {
    display: flex;
  }
}

@media @desktop-widths {

  .good-card {
    display: flex;
    flex-direction: column;
  }
}
