.main-nav__item {
  list-style: none;
}
.main-nav__link {
  display: block;
  .font-bold();
  .font-type(17px, 24px, @text-color-main);
  text-decoration: none;
}
.main-nav__link--bg-search {
  background: url(../../img/icon-search.svg) no-repeat;
}
.main-nav__link--bg-basket {
  background: url(../../img/icon-cart.svg) no-repeat;
}
