.order-form__wrap {
  .container();
  padding-right: 30px;
  padding-left: 30px;
}
.order-form__headline {
  background-color: @bg-color-headline;
}
.order-form__headline-text {
  .font-bold();
  .font-type(27px, 30px, @text-color-main);
}
.order-form__descr {
  .font-type(13px, 24px, @text-color-second);
}
.order-form__section-name {
  .font-bold();
  .font-type(17px, 16px, @text-color-light);
  text-transform: uppercase;
}
.order-form__radio-label,
.order-form__checkbox-label,
.order-form__label-for-name {
  .font-bold();
  .font-type(17px, 18px, @text-color-main);
}
.order-form__for-placeholder::-webkit-input-placeholder {
  .font-type(17px, 18px, @text-color-second);
  &:-moz-placeholder {
    /* Firefox 18- */
    .font-type(17px, 18px, @text-color-second);
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    .font-type(17px, 18px, @text-color-second);
  }
  &:-ms-input-placeholder {
    .font-type(17px, 18px, @text-color-second);
  }
}
.order-form__footnote {
  .font-type(14px, 16px, @text-color-second);
}
@media @tablet-widths {
  .order-form__form {
    display: flex;
    flex-wrap: wrap;
  }
  .order-form__wrap {
    padding-right: 50px;
    padding-left: 50px;
  }
  .order-form__section-name {
    margin-right: 123px;
  }
  .order-form__type-list {
    width: 500px;
  }
  .order-form__color-list {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
  }
  .order-form__color-item {
    width: 225px;
  }
  .order-form__full-name-list {
    width: 500px;
  }
  .order-form__contacts {
    width: 500px;
  }
  .order-form__contacts-item {
    display: flex;
  }
  .order-form__footnote {
    order: 1;
  }
}
@media @desktop-widths {
  .order-form__section-name {
    margin-left: 60px;
    margin-right: 74px;
  }
  .order-form__type-list {
    width: 875px;
  }
  .order-form__color-list {
    width: 875px;
  }
  .order-form__color-item {
    width: 225px;
  }
  .order-form__full-name-list {
    width: 875px;
  }
  .order-form__contacts {
    width: 1050px;
  }
}
