.page-menu__wrapper {
  .container();
}
.page-menu__item {
  display: flex;
  justify-content: space-between;
  .font-bold();
  .font-type(19px, 24px, @text-color-lightest);
  text-decoration: none;
}
.page-menu__interrior-object {
  padding-left: 30px;
  padding-right: 34px;
  padding-top: 17px;
  padding-bottom: 18px;
}
.page-menu__icon-interrior-object {
  margin-top: 6px;
}
.page-menu__toys {
  padding-left: 30px;
  padding-right: 27px;
  padding-top: 17px;
  padding-bottom: 25px;
}
.page-menu__item--bg-lightgreeen {
  background-color: @bg-color-page-menu;

  &:hover {
    background-color: #59d5bc;

    .page-menu__icon-interrior-object {
      fill: #29a592;
    }
  }

  &:active {
    color: #8be2d0;
    background-color: #59d5bc;

    .page-menu__icon-interrior-object {
      fill: #44c0aa;
    }
  }
}
.page-menu__item--bg-darkgreeen {
  background-color: @bg-color-page-menu--darken;

  &:hover {
    background-color: #46c1ae;

    .page-menu__icon-toys path {
      fill: #239f8e;
    }
  }

  &:active {
    color: #7ed4c6;
    background-color: #46c1ae;

    .page-menu__icon-toys path {
      fill: #37b2a0;
    }
  }
}
.page-menu__item span {
  width: 105px;
  margin: auto 0;
}

@media @tablet-widths {

  .page-menu__item {
    flex-grow: 1;
    .font-type(20px, 30px, @text-color-lightest);
  }
  
  .page-menu__interrior-object {
    position: relative;
    padding-top: 26px;
    padding-bottom: 29px;
    padding-left: 35px;
    padding-right: 35px;
  }
  .page-menu__icon-interrior-object {
    margin-top: 0;
  }
  
  .page-menu__toys {
    position: relative;
    padding-top: 26px;
    padding-bottom: 29px;
    padding-left: 34px;
    padding-right: 34px;
  }
  .page-menu__interrior-object svg {
    position: absolute;
    top: 29px;
    right: 36px;
  }
  .page-menu__toys svg {
     position: absolute;
    top: 31px;
    right: 33px;
  }
}
