.page-menu__item {
  display: block;
  .font-bold();
  .font-type(19px, 24px, @text-color-lightest);
  text-decoration: none;
}
.page-menu__item--bg-lightgreeen {
  background: url("../../img/icon-toy.svg") no-repeat;
  background-color: @bg-color-page-menu;
}
.page-menu__item--bg-darkgreeen {
  background: url("../../img/icon-interior.svg") no-repeat;
  background-color: @bg-color-page-menu--darken;
}
