.page-header__headline {
  background-color: #fbfbfb;
  backgroun-image: url("../../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.page-header__headline-text  {
  .font-bold();
  .font-type(27px, 30px, @text-color-main);
}
