.production-process__wrapper {
  .container();
  width: 260px;
  margin-bottom: 93px;
  border: 1px solid #ececec;
}
.production-process__headline {
  margin: 0;
  padding: 24px 42px 26px 90px;
  .font-bold();
  .font-type(17px, 24px, text-color-main);
  background-image: url(../img/icon-video.svg);
  background-repeat: no-repeat;
  background-position: 33px 30px
}
.production-process__video {
  position: relative;
  width: 258px;
  height: 150px;
  margin-bottom: 26px;
  background-image: url(../img/video-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.production-process__play {
  content: "";
  width: 101px;
  height: 77px;
  position: absolute;
  top: 36px;
  left: 80px;
  cursor: pointer;
  z-index: 10;
  background: none;
  border: none;
  outline: none;
}
.production-process__video video {
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}
.production-process__play svg:hover {
  transform: scale(1.2);
}
.production-process__play svg:active {
  transform: scale(0.8);
  opacity: 0.3;
}
.production-process__video img {
  width: 100%;
}
.production-process__video-descr {
  margin: 0;
  margin-bottom: 27px;
  padding: 0 34px;
  .font-type(13px, 24px, text-color-second);
}
.production-process__inner {
  width: 260px;
  margin-bottom: 58px;
  padding-bottom: 33px;
  border: 1px solid #ececec;
}
.production-process__btn {
  margin: 0 auto;
}
@media @tablet-widths {
  .production-process__wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 61px;
  }
  .production-process__video {
    position: relative;
    order: -1;
    width: 670px;
    height: 457px;
  }
  .production-process__play {
    top: 192px;
    left: 277px;
  }
  .production-process__video video {
    width: 668px;
    height: 455px;
  }
  .production-process__headline {
    font-size: 20px;
    padding: 9px 42px 9px 106px;
    background-position: 41px 6px;
    margin-bottom: 25px;
  }
  .production-process__video-descr {
    padding: 0 38px;
    margin-bottom: 40px;
    font-size: 15px;
    line-height: 30px;
  }

  .production-process__content {
    padding-bottom: 46px;
  }
}
@media @desktop-widths {
  .production-process__wrapper {
    display: block;
    position: relative;
    width: 300px;
    min-height: 450px;
    padding-left: 746px;
    margin-bottom: 110px;
  }
  .production-process__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 682px;
    height: 455px;
  }
  .production-process__video-descr {
    width: 230px;
    margin-bottom: 49px;
    padding: 0 12px;
  }
  .production-process__btn {
    margin: 0;
    margin-left: 13px;
  }
  .production-process__play {
    left: 282px;
    top: 187px;
  }
  .production-process__headline {
    padding: 93px 49px 9px 13px;
    background-position: 14px 40px;
  }
}
