.reviews {
  position: relative;
  margin: 0;
}
.reviews__btn {
    padding-right: 14px 80px;
}
.reviews::after {
  content: "";
  width: 1000%;
  height: 23px;
  position: absolute;
  bottom: -67px;
  left: -400px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-size: auto 5px;
}
.reviews__headline {
  margin-bottom: 25px;
  margin-top: 0;
  padding-right: 309px;
  .font-bold();
  .font-type(25px,
  30px,
  @text-color-main);
}
.reviews__text {
  margin-bottom: 27px;
  .font-type(15px,
  30px,
  @text-color-second);
}
.reviews__text br {
  display: none;
}
.reviews__author {
  margin-top: 2px;
  .font-bold();
  .font-type(17px,
  24px,
  @text-color-main);
  font-style: normal;
}
.reviews__nickname {
  margin-bottom: 28px;
  margin-top: 2px;
  .font-type(17px,
  30px,
  @text-color-second);
}
.reviews__nav {
  display: flex;
  margin-bottom: 40px;
}
.reviews__arrow {
  display: block;
  width: 130px;
  height: 52px;
  border: 1px solid #ececec;
  &--preview {
    background-image: url("../img/icon-left-arrow.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  &--next {
    background-image: url("../img/icon-right-arrow.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}
@media @tablet-widths {
  .reviews {
    display: flex;
    flex-wrap: wrap;
    padding-top: 106px;
    margin-left: -50px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 49%;
    @media @retina {
      background-image: url("../img/review@2x.jpg");
      background-size: 525px 636px;
    }
  }
  .reviews::after {
    background-size: auto 14px;
  }
  .reviews__headline {
    order: 1;
    margin-top: 0;
    margin-bottom: 29px;
    margin-left: 50px;
    .font-type(43px,
    50px,
    @text-color-main);
  }
  .reviews__text {
    order: 3;
    width: 643px;
    margin-bottom: 57px;
    margin-left: 50px;
    font-size: 17px;
  }
  .reviews__nav {
    order: 6;
    margin-left: 369px;
    margin-top: -22px;
  }
  .reviews__arrow {
    width: 88px;
    border: none;
  }
  .reviews__btn {
    order: 2;
    align-self: flex-start;
    width: 175px;
    padding-left: 37px;
    padding-right: 40px;
  }
  .reviews__author {
    padding-right: 403px;
    order: 4;
    margin-left: 50px;
    .font-type(18px,
    24px,
    @text-color-main);
    font-style: normal;
  }
  .reviews__nickname {
    order: 5;
    margin-left: 50px;
    line-height: 30px;
    padding-bottom: 50px;
  }
}
@media @desktop-widths {
  .reviews {
    padding-top: 111px;
    padding-bottom: 14px;
    background-position: 50px 37px;
  }
  .reviews::after {
    width: 1050px;
    background-size: 1150px 23px;
    left: 0;
  }
  .reviews__headline,
  .reviews__text,
  .reviews__author,
  .reviews__nickname {
    margin-left: 219px;
  }
  .reviews__text {
    width: 778px;
    padding-right: 20px;
    margin-bottom: 39px;
  }
  .reviews__nav {
    top: 264px;
    margin-left: 576px;
  }
  .reviews__headline {
    padding-right: 479px;
    margin-bottom: 25px;
    .font-type(53px,
    57px,
    @text-color-main);
  }
  .reviews__author {
    font-size: 17px;
  }
  .reviews__btn {
    padding-left: 37px;
    padding-right: 40px;
    width: 175px;
  }
  .reviews__nav {
    top: 396px;
    right: -384px;
  }
  .reviews::after {
    left: 49px;
    height: 27px;
    bottom: -94px;
    background-size: 1050px 20px;
  }
}
