.week-product__name {
  .font-bold();
  .font-type(25px, 30px, @text-color-main);
}
.week-product__marker {
  .font-bold();
  .font-type(17px, 20px, @text-color-light);
}
.week-product__descr {
  .font-type();
}
.week-product__table-cell {
  .font-type(15px, 20px, @text-color-second);
}
.week-product__photo {
  width: 260px;
  height: 315px;
  background-color: #f1f1f1;
}
.week-product__photo img {
  width: 260px;
  height: 315px;
}
.week-product__price {
  .font-bold();
  .font-type(17px, 24px, @text-color-second);
}
